[submodule "src/buffer"]
	path = src/buffer
	url = https://github.com/pxcs/WinCobaltExec
[submodule "src/ssl"]
	path = src/ssl
	url = https://github.com/pxcs/WinCobaltExec
[submodule "src/log"]
	path = src/log
	url = https://github.com/pxcs/WinCobaltExec
